@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEADINGS — now Saira */
h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow Condensed", sans-serif;
}

/* PARAGRAPHS — now Saira */
p {
  font-family: "Barlow Condensed", sans-serif;
}

/* HEADING PRIMARY STYLE */
.heading-primary {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 51.15px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #0ea5e9;
  text-align: center;
}

/* PARAGRAPH PRIMARY STYLE */
.paragraph-primary {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 51.15px;
  letter-spacing: 0;
  color: white;
}
