@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEADINGS — now Saira */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family: "Antonio", sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
}

/* PARAGRAPHS */
p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
/* HEADING PRIMARY STYLE */
.heading-primary {
  font-family: "Antonio", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 51.15px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #0ea5e9;
  text-align: center;
}

/* PARAGRAPH PRIMARY STYLE */
.paragraph-primary {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 51.15px;
  letter-spacing: 0;
  color: white;
}

